body {
  background-color: #333333;
  text-align: center;
}

.canvas {
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
}


#start-game-button {
  border: 0;
  box-shadow: 0;
  background: linear-gradient(to bottom, green, #bac600);
  color: #fff;
  padding: 20px 40px;
  font-size: 30px;
  border-radius: 5px;
}
